<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quanwc.blog.mapper.BlogMapper">

	<!-- 不配置，默认使用MyBatis的二级缓存，则实体类需要实现序列化 -->
<!-- 	<cache /> 加上该配置，会报错，实体类需要实现序列化才可以 -->

	<resultMap id="baseResultMap" type="com.quanwc.blog.entity.Blog">
		<id property="id" column="id" />
		<result property="title" column="title" />
		<result property="author" column="author" />
		<result property="md" column="md" />
		<result property="html" column="html" />
		<result property="createTimestamp" column="create_timestamp" />
		<result property="updateTimestamp" column="update_timestamp" />
	</resultMap>

	<sql id="Base_Column">
		`id`, `title`, `author`, `md`, `html`, `create_timestamp`, `update_timestamp`
	</sql>
	
	<!-- 根据id查找博客 -->
	<select id="getBlogById" parameterType="int" resultMap="baseResultMap">
		select 
			<include refid="Base_Column" /> 
		from 
			blog
		where 
			id=#{id} 
	</select>
	
	<!-- 查询所有博客 -->
	<select id="listBlogs" resultMap="baseResultMap">
		select 
			<include refid="Base_Column" />
		from 
			blog
	</select>
	
	<!-- 新增博客 -->
	<insert id="saveBlog" parameterType="com.quanwc.blog.entity.Blog">
		insert into blog(
			title, author, md, html, create_timestamp, update_timestamp
		)values(
			#{title, jdbcType=VARCHAR},
			#{author, jdbcType=VARCHAR},
			#{md, jdbcType=CLOB},
			#{html, jdbcType=CLOB},
			#{createTimestamp, jdbcType=TIMESTAMP},
			#{updateTimestamp, jdbcType=TIMESTAMP}
		)
	</insert>
	
	<!-- 批量删除博客 -->
	<delete id="removeBlogBatch" parameterType="java.util.List">
		delete from blog
		where id in
		<foreach collection="arrIds2" item="id" separator="," open="(" close=")" >
			#{id, jdbcType=INTEGER}
		</foreach>
	</delete>
	
	<!-- 根据id更新博客 -->
	<update id="updateBlog" parameterType="com.quanwc.blog.entity.Blog">
		update blog
		<set>
			<if test="blog.md != null and blog.md !='' ">
				md = #{blog.md, jdbcType=CLOB}
			</if>
		</set>
		where id = #{blog.id, jdbcType=INTEGER}
	</update>
	
</mapper>